


/* GLOBALS */

html {
  overflow: hidden;
  height: 100%;
}

/* header fonts */
h1, h2, h3, h4 {
  font-family: 'Merriweather', monospace;
}

/* paragraph fonts */
body {
  font-family: 'Raleway', monospace;
  color: #581C0C;
  /*color: #001f3f; */
  margin: 0px;
  margin-bottom: 0px;
  height: 100%;
  overflow: auto;
}

hr {
  border: 0px;
  height: 2px;
  background-image: linear-gradient(to right, rgba(88, 28, 12, 0),
    rgba(88, 28, 12, 0.75), rgba(88, 28, 12, 0));
}


/* CONTAINERS */

.container {
  margin: 0px auto;
  margin-bottom: 0px;
  background-color: #f1e3cb;
}

.container > div {
  margin: 0px auto;
}

.inner-container {
  max-width: 840px;
  margin: 0 auto;
}

/* MASTHEAD */

#masthead {
  background: #f2782c; /* #CA5116;rgb(220, 220, 220);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 30%;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

#masthead h1 {
    /*font-size: 28px;*/
    margin: 0;
}

#masthead a{
  text-decoration: none;
  color: #581C0C;
  font-weight: bold;
}

#masthead a:hover{
  color: #F9B384;
}

.header-links-grid {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex: 0 1 50%;
}

.socials-links-grid {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 20%;
}


/* HEADSHOT */

.headshot-and-quote {
  margin-top: 100px;
  text-align: center
}

.headshot {
  border-radius: 50%;
  width: 150px;
  height 150px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.headshot:hover {
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.quote {
  font-style: italic;
}





/* ABOUT STUFF */

.about-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.i-am, .i-like {
  text-align: center;
  text-decoration: none;
}

.about-list {
  list-style: none;
  padding: 0;
}



/* PROJECTS */

.projects-header {
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-image {
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.project-image:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}


.project-image-wrapper {
  justify-self: center;
  padding: 4%;
  position: relative;
}

.project-image-wrapper:hover > h4 {
  visibility: visible;
}

.project-image-wrapper > h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: #f2782c; /* #CA5116; /* rgb(220, 220, 220) */
  margin-bottom: 0px;
}

.footer-text {
  justify-self: center;
}



form input, textarea {
  padding: 5px;
  border-radius; 5px;
  width: 240px;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="submit"] {
  width: 250px;
}

.submit-button-wrapper {
  background-color: #caebf2;
  margin: 20px 0;
}



/* MEDIA QUERIES */

/* break point for 480px */
@media (max-width: 480px) {
  .about-grid {
    grid-template-columns: 100%
  }
}

/* break point for 640px */
@media (max-width: 640px) {
  .projects-grid {
    grid-template-columns: 100%
  }

  .links-and-contact-grid {
    grid-template-columns: 100%
  }
}


/*
   COLOR SCHEME FOR SAFEKEEPING
   ======================================
   LIGHTEST;  light pinkish   :   #f1e3cb
   MID-LIGHT; sandy pinkish   :   #f9b384
   MID-DARK;  orange-ey       :   #f2782c
   DARK;      rust-ey         :   #581c0c
   =====
   UNUSED mid-dark            :   #ca5116
*/
