


/* GLOBALS */

:root{
  --light-color: #f1e3cb;
  --med-light-color: #f9b384;
  --med-dark-color: #f2782c;
  --dark-color: #581c0c;
}

html {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  background-color: var(--light-color);
}

/* header fonts */
h1, h2, h3, h4 {
  font-family: 'Merriweather', monospace;
}

/* paragraph fonts */
body {
  font-family: 'Raleway', monospace;
  color: var(--dark-color);/* #581C0C; */
  /*color: #001f3f; */
  margin: 0;
  margin-bottom: 0px;
  overflow: auto;
  min-height: 100%;
  height: 100%;
}

hr {
  border: 0px;
  height: 2px;
  background-image: linear-gradient(to right, rgba(88, 28, 12, 0),
    rgba(88, 28, 12, 0.75), rgba(88, 28, 12, 0));
}

a{
  text-decoration: none;
  color: var(--dark-color);
  font-weight: bold;
  transition: all ease-in-out 0.2s;
}

a:hover{
  color: var(--med-dark-color);
  transition: 0.15s;
  border-bottom: 0px solid;
}


/* CONTAINERS */

.container {
  margin: 0px auto;
  margin-bottom: 0px;
  background-color: var(--light-color);
  min-height: 100%;
  height: 100%;
}

.container > div {
  /* margin: 0px auto; */
}

.inner-container {
  margin: 0px auto;
  min-height: 100%;
}

.inner-container a{
  border-bottom: 1px solid;
}

.inner-container a:hover{
  transition: all ease-in-out 0.1s;
  border-bottom: 0px solid;
}

/* MASTHEAD */

#masthead {
  background: var(--med-dark-color); /* #CA5116;rgb(220, 220, 220);*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 30%;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#masthead h1 {
    margin: 0;
}

#masthead a{
  text-decoration: none;
  font-weight: bolder;
}

#masthead a:hover{
  color: var(--med-light-color);
  border-bottom: 1px solid;
}



.header-links-grid {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex: 0 1 50%;
}

.socials-links-grid {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 20%;
}


/* HEADSHOT */

.headshot-and-quote {
  margin-top: 100px;
  text-align: center
}

.headshot-and-quote a{
  border-bottom: 1px solid;
}

.headshot-and-quote a:hover{
  transition: all ease-in-out 0.1s;
  border-bottom: 0px solid;
}

.headshot {
  border-radius: 50%;
  width: 150px;
  height 150px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.headshot:hover {
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.quote {
  font-style: italic;
}




/* ABOUT STUFF */

.about-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.i-am, .i-like {
  text-align: center;
  text-decoration: none;
}

.about-list {
  list-style: none;
  padding: 0;
}



/* PROJECTS */


.project-block {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 4%;
  max-width: 80%;
  background-color: var(--med-light-color);
  border-radius: 20px;
}


.project-image-wrapper {
  padding: 0%;
  position: relative;
  flex: 0 1 40%;
}

.project-image-wrapper > h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--med-light-color);
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

.project-image-wrapper:hover > h4 {
  visibility: visible;
}

.project-image {
  border-radius: 10px;
  margin-right: 0px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.project-image:hover {
  filter: brightness(0.55);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.project-links {
  list-style: none;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 1 10%;
}

.project-skills-text {
  list-style: none;
  text-align: left;
  flex: 0 1 35%;
}

.project-features-text {
  list-style: none;
  text-align: left;
  flex: 0 1 35%;
  margin-right: 50px;
}



.about-me-text {
  max-width: 840px;
  margin: 0px auto;
}





/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--med-dark-color);
}




.links-and-contact-grid {
  display: flex;
  flex-direction: column;
}

.links {
  max-width: 840px;
  margin: 0 auto;
}

.links-list {
  margin: 0 auto;
}


.contacts {
  margin: 0 auto;
}

form input, textarea {
  padding: 5px;
  border-radius; 5px;
  width: 500px;
}

.contact-message {
  height: 130px;
}

.contact-email-msg, .contact-subject-msg, .contact-message-msg {
  color: var(--med-dark-color);
}

.contact-form {
  width: 500px;
  margin: 0 auto;
}

.contact-button {
  background-color: var(--light-color);
  margin: 20px 0;
}





/* MEDIA QUERIES */

/* break point for 480px */
@media (max-width: 480px) {
  .about-grid {
    grid-template-columns: 100%
  }
}

/* break point for 640px */
@media (max-width: 640px) {
  .projects-grid {
    grid-template-columns: 100%
  }

  .links-and-contact-grid {
    grid-template-columns: 100%
  }
}


/*
   COLOR SCHEME FOR SAFEKEEPING
   ======================================
   LIGHTEST;  light pinkish   :   #f1e3cb
   MID-LIGHT; sandy pinkish   :   #f9b384
   MID-DARK;  orange-ey       :   #f2782c
   DARK;      rust-ey         :   #581c0c
   =====
   UNUSED mid-dark            :   #ca5116
*/
