
/* GLOBALS */

/* header fonts */
h1, h2, h3, h4 {
  font-family: 'Merriweather', monospace;
}

/* paragraph fonts */
body {
  font-family: 'Noto Sans', monospace;
  color: #001f3f;
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* CONTAINERS */

.container {
  margin: 0px auto;
  background-color: rgb(245, 245, 245);
}

.container > div {
  margin: 20px auto;
}

.inner-container {
  max-width: 840px;
  margin: 0 auto;
}

/* MASTHEAD */

#masthead {
  background: rgb(220, 220, 220);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 30%;
  padding: 0 1rem;
}

#masthead h1 {
    margin: 0;
}

#masthead a{
  text-decoration: none;
  color: rgb(00, 00, 255);
}

#masthead a:hover{
  color: rgba(00, 00, 255, 0.5);
}

.header-links-grid {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex: 0 1 55%;
}

.socials-links-grid {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 15%;
}


/* HEADSHOT */

.headshot-and-quote {
  text-align: center
}

.headshot {
  border-radius: 50%;
  width: 150px;
  height 150px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.headshot:hover {
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.quote {
  font-style: italic;
}





/* ABOUT STUFF */

.about-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.i-am, .i-like {
  text-align: center;
  text-decoration: none;
}

.about-list {
  list-style: none;
  padding: 0;
}



/* PROJECTS */

.projects-header {
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-image {
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
  transition: all ease-in-out 0.2s;
}

.project-image:hover {
  filter: brightness(0.75);
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}


.project-image-wrapper {
  justify-self: center;
  padding: 4%;
  position: relative;
}

.project-image-wrapper:hover > h4 {
  visibility: visible;
}

.project-image-wrapper > h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  visibility: hidden;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

/* FOOTER */

.links-and-contact-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: rgb(220, 220, 220);
}

.links {
  justify-self: center;
}

.links-list{
  list-style: none
  padding: 0;
}

form input, textarea {
  padding: 5px;
  border-radius; 5px;
  width: 240px;
}

form {
  width: 250px;
  margin: 0 auto;
}

form input[type="submit"] {
  width: 250px;
}

.submit-button-wrapper {
  background-color: #caebf2;
  margin: 20px 0;
}



/* MEDIA QUERIES */

/* break point for 480px */
@media (max-width: 480px) {
  .about-grid {
    grid-template-columns: 100%
  }
}

/* break point for 640px */
@media (max-width: 640px) {
  .projects-grid {
    grid-template-columns: 100%
  }

  .links-and-contact-grid {
    grid-template-columns: 100%
  }
}
